* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-bg: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    --circle-bg: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    background: hsla(220, 100%, 96%, 1);
    
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--blue-bg);
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 24px 140px 40px 141px;
    height: 512px;
    max-width: 375px;
    z-index: 1;
}

.result {
    font-size: 18px;
    line-height: 23.45px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--circle-bg);
    border-radius: 50%;
    margin-top: 24px;
    padding: 25px 39px 22px 38px;
}

.circle h1 {
    font-size: 56px;
    line-height: 72px;
    font-weight: 800;
    color: white;
}

.circle span {
    color: #CAC9FF;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.top-section h2 {
    margin-top: 24px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: white;
}

.top-par {
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #CAC9FF;
    width: 260px;
    text-align: center;

}

.boxes h2 {
    padding-bottom: 8px;
    text-transform: capitalize;
}

.boxes {
    padding: 24px 30px 30px 30px;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    padding: 17px 18px 18px 20px;
    margin-top: 16px;
    border-radius: 12px;
}

.boxOne {
    background-color: hsl(0, 100%, 67%, 0.1);
    color: #FF5555;

}

.boxTwo {
    background-color: hsl(39, 100%, 56%, 0.1);
    color: #FFB21E;
}

.boxThree {
    background-color: hsl(166, 100%, 37%, 0.1);
    color: #00BB8F;
}


.boxFour {
    background-color: hsl(234, 85%, 45%, 0.1);
    color: #1125D6;
}

.left-side {
    display: flex;
}

.left-side h3 {
    margin-left: 16px;
}

.flex-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    margin-top: 24px;
    width: 315px;
    padding: 17px 120px 17px 120px;
    border-radius: 128px;
    background-color: #303B59;
    color: white;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    border: 0;
}

button:hover {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
}

.right-side p {
    color: #303B59;
    font-weight: bold;
    font-size: 16px;
}

.right-side span {
    color: #303B59;
    opacity: 0.5;
}

@media(min-width: 1440px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .circle {
        margin-top: 35px;
        padding: 55px 60px 46px 59px;
    }

    .circle h1 {
        font-size: 72px;
    }

    .top-section {
        padding: 38px 54px 55px 54px;
        border-radius: 32px;
    }


    .top-section h2 {
        margin-top: 28px;
        font-size: 32px;
        line-height: 41.7px;

    }

    .top-par {
        width: 260px;
        margin-top: 14px;
        font-size: 18px;
        padding-bottom: 0;
    }


    .boxes {
        background-color: hsla(0, 0%, 100%, 1);
        border-radius: 32px;
        padding: 38px 40px 46px 65px;
        height: 512px;
    
    }

    .background {
        display: block;
        background-color: hsla(0, 0%, 100%, 1);
        margin-left: -25px;
        height: 512px;
      border-radius: 32px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

       button {
        cursor: pointer;
        margin-top: 40px;
       
    }

    button:hover {
        background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    }
    .boxes h2 {
        font-size: 24px;
    }

    .right-side p {
        font-size: 18px;
    }

}